@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;

}
.App {
  padding: 2%;
  background-image: linear-gradient(rgb(253, 85, 85), rgb(148, 66, 214), rgb(4, 71, 255));
  display: flex;
  flex-direction: column;
}
.controls {
  display:flex;
  justify-content: space-between;
}
.buttons {
  margin: 30px;
}
.music-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-box {
  width: 90vw;
  height: 36vh;
  overflow-y: auto;
  background: rgba(2, 37, 2, 0.452)
}
.track-bar {
  display: flex;
  padding: 1%;
  color: white;
  height: 8vh;
}
.track-bar img {
  width: 20%;
  object-fit: contain;
}
.audio-bar {
  width: 70vw;
  border-radius: 0px;
}

.chooseSong {
  background: red
}
/* ---nav bar--- */
nav {
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
}
nav a {
    color: rgb(138, 35, 223);
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    touch-action: auto;
    border-bottom: 2px solid white;
}
nav a:before, nav a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}
/* nav a:before {
    right: 0px;
    top: 0px;
}
nav a:after {
    left: 0px;
    bottom: 0px;
}
nav a:hover:before, nav a:hover:after {
    opacity: 1;
    width: 100%;
} */

/* ---home page--- */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.hero-image {
  width: 90vw;
  height: 42vh;
  position: relative;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-cover {
  width: 55vw;
  height: 25vh;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: -7px 18px 10px 1px rgb(86 36 117 / 57%)
}
.cover-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.cover-2 {
  position: absolute;
  bottom: 0;
  left: 0;
 }
.intro-to-app {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.border-box {
  height: 4vh;
  width: 15vw;
  border-bottom: 2px solid white;
}
.headline {
  text-align: center;  
}
.headline h1 {
  margin-bottom: 3%;
}
.text-box {
  margin-top: 10%;
}
#hook p {
  margin-bottom: 4%;
}
  /* ---play button--- */
.example-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button-animation {
  border-radius: 100%;
  background-color: rgb(253, 85, 85);
  width: 20vw;
  height: 10vh;
  z-index: 2;
  position: absolute;
  animation: smallScale 3s infinite
}
.play-button {
  border-radius: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
  width: 20vw;
  height: 10vh;
}
.fa-play {
  color: rgb(4, 71, 255);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%)
}
.song-details {
  position: absolute;
  background: rgba(43, 1, 78, 0.705);
  height: 8vh;
  bottom: 0;
  width: 100%;
  border: 2px solid white;
  color: rgb(253, 85, 85);
  font-size: 18px;
}
.song-details h4 {
  padding: 5%;
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0
  }
}
