* {
  margin: 0;
}

.music-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display:flex;
  justify-content: space-between;
}
li {
  
}
.buttons {
  margin: 30px;
}
.track-bar {
  display: flex;
}
.track-bar img {
  width: 20%;
}
.audio-bar {
}